  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('about_me') }}">À propos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ path('all_projects') }}">Projets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
      </li>
  </ul>